<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new message from portfolio</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

    
    </style>
    <link rel="stylesheet" href="bootstrap.min.css" />
  </head>
  <body>
    <div class="container-fluid p-4 m-auto w-75">

      <h1 style="color: var(--purple)">Hi Opeoluwa!</h1>
      <p class="lead text-capitalize">you got a new message from $name</p>
      <div class="my-4 p-4">
        <h2 class="text-center text-underline text-capitalize">title</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium hic
        eaque sed vitae, odit voluptates culpa omnis? Quibusdam quasi
        asperiores, error libero cumque numquam mollitia necessitatibus laborum
        exercitationem omnis aliquid. Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Commodi tempore necessitatibus excepturi, eligendi
        accusamus cumque quidem fuga magnam corrupti itaque autem quisquam minus
        inventore beatae eos. Ex libero dolore sequi.
      </div>
      <div class=" mr-auto small strong text-capitalize" style="color: var(--purple)">
        <span  class="mx-0 px-0">$adeoye adefemi opeoluwa</span>
        <span class="mx-0 px-0 d-block">$adeefemiadeoye@mailer.com</span>
        <p  class="mx-0 px-0">$2020-05-05</p>
    </div>
    </div>
  </body>
</html>
